* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    /* background-color: rgb(232, 232, 232); */
    /* background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(248,248,248,1) 100%); */
}

body {

    background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(248,248,248,1) 100%);
}

.header {
    display: flex;
    color: rgb(250, 169, 8);
    margin-left: 2rem;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 0;
}

.header h1{
    margin-top: 0;
    margin-bottom: 0;
}

.header h1 a {
    text-decoration: none;
    color: rgb(250, 169, 8);
}

.nav-bar {
    display: flex;
    margin-left: 2rem;
    z-index: 1;
    max-width: 50%;
}

.nav-bar .tab {
    font-size: 1.75vw;
    margin-right: 1.5rem;
}

.nav-bar :hover {
    color: lightgray;
}

.nav-bar a:link {
    text-decoration: none;
    color: black;
}
  
.nav-bar a:visited {
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    text-decoration: none;
    /* color: rgb(255, 233, 190); */
    color: rgb(51, 11, 11);
    color: rgb(71, 16, 16);
    cursor: pointer;
}

.nav-bar .active a{
    color: rgb(250, 169, 8);
}

hr {
    margin-left: 3rem;
    width: 27.5vw;
    height: 1px;
    border: 0px;
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(240,240,240,1) 100%); */
    background: rgb(18, 18, 18, 0.75)
}

/* HOME PAGE */
.home-text {
    position: absolute;
    font-size: 6vh;
    text-align: right;
    bottom: 5vh;
    right: 5vw;
    color: rgb(48, 48, 48);
    max-height: 70%;
    overflow: scroll;
}

.home-text p {
    margin-top: 0;
}

.content {
    margin-left: 2rem;
    margin-right: 2rem;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 0rem;
}

/* ABOUT */
.main-body {
    display: flex;
    /* grid-template-columns: 4fr 6fr;
    grid-gap: 1rem; */
}

.main-body .image {
    width: 30vw;
    padding-right: 2rem;
}

.main-body .description {
    /* https://stackoverflow.com/questions/43999732/how-to-make-a-fixed-column-in-css-using-css-grid-layout */
    position: fixed;
    top: 75%;
    /* bottom: 2vh; */
    /* height: 95vh; */
    max-width: 35vw;
}

.about-grid {
    position: absolute;
    margin-left: 40vw;
    margin-right: 2vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-content: center;
    align-items: center;
    justify-self: center;
    grid-gap: 1rem;
}

.about-grid .grid-item {
    /* justify-content: center; */
    text-align: center;
    width: 100%;
}

.about-grid .grid-img {
    text-align: center; /* center an image in a grid */
    object-fit: cover;
    /* height: 35vh; */
    max-width: 100%;
    max-height: 65vh;
    padding: 1rem;
}

.about-grid .grid-item p {
    text-align: center;
}

/* PROJECTS */
.projs-desc {
    top: 75%;
    max-width: 35vw;
}

.projects-grid {
    order: -1;
    display: grid;
    grid-template-columns: 65vw;
    height: 100vh;
    /* width: 65vw; */
    padding-top: 5vh;
}

.project {
    justify-self: center; /* center this project within the project-grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    /* overflow: auto; */
    width: 50vw;
    height: 40vh;
    /* align-items: stretch; */
}

.project .proj-desc {
    justify-content: center;
    text-align: center;
    grid-column: span 2;
}

.project .grid-item {
    /* overflow: hidden; */
    /* max-height: 30vh; */
    /* to fix chrome issue must set an explicit height for parent for max-height: 100% to work in child*/
    /* https://stackoverflow.com/questions/14262938/child-with-max-height-100-overflows-parent */
    height: 25vh; 
    /* min-height: 25vh;
    max-height: 50vh; */
    text-align: center;
}

.project .img {
    /* without these lines, img was making the project grid really long (because of large size of original image) */
    object-fit: scale-down;
    width: 100%;
    min-height: 50%;
    max-height: 100%;
}

.project .video {
    /* without these lines, img was making the project grid really long (because of large size of original image) */
    object-fit: scale-down;
    /* width: 100%; */
    max-width: 100%;
    max-height: 100%;
    min-height: 50%;
}

/* RESUME */
.resume-desc {
    order: -1;
}

.iframe-container {
    /* overflow: hidden; */
    /* // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
    /* padding-top: -10%; */
    /* padding-bottom: 0%; */
    padding-left: 5vw;
    padding-right: 3vw;
    position: relative;
    min-width: 70%;
}
   
.iframe-container iframe {
    border: 0;
    height: 100vh;
    left: 0;
    /* position: absolute; */
    /* top: -10vh; */
    width: 100%;
}

#lightbox {
    /* display: none;
    background-color: black; */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#lightbox div {
    margin: auto;
}

#lightbox img {
    /* display: block;
    margin: auto; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 65vh;
}

#to-top {
    /* order: -1; */
    display: none;
    position: fixed;
    bottom: 5vh;
    right: 2rem;
    z-index: 1;
}

#left-to-top {
    display: none;
    position: fixed;
    bottom: 5vh;
    left: 2rem;
}

#to-top:hover {
    cursor: pointer;
}

@media (max-height: 600px) {
    .main-body .description {
        position: relative;
        top: 65%;
    }
}

@media (max-width: 600px) {
    .main-body {
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
    }

    .main-body .description {
        top: 0;
        position: relative;
        min-width: 100%;
        max-height: 20%;
        height: 0%;
    }

    .main-body .about-grid {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .about-grid {
        position: unset;
        margin-left: unset;
        margin-right: unset;
        display: unset;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
        align-content: center;
        align-items: center;
        justify-self: center;
        /* grid-gap: 1rem; */
    }

    .projs-desc {
        order: -1;
        position: relative;
        min-width: 100%;
        max-height: 20%;
        height: 0%;
    }

    .projects-grid {
        order: unset;
    }
}

@media (max-width: 500px) {
    .nav-bar {
        margin-left: 5vw;
        justify-content: left;
    }

    .nav-bar .tab{
        font-size: 4.5vw;
    }

    hr {
        width: 0%;
        margin-left: none;
        margin-right: 100%;
    }
}